
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 100px 100px;
	border:2px solid;
/* 	gap:10px; */
}

.item-1, .item-3,.item-2,.item-4{
	border:2px solid;
}