
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-rows: 200px 200px;
	grid-template-columns: 200px 200px;
	border:2px solid;
/* 	gap:10px; */
}

.item-1, .item-3,.item-2,.item-4{
	border:2px solid;
}